 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<footer class="page-footer" style="margin-top:150px;">
          <div class="container center">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4 align-center">Prabhat Ranjan Productions LTD.</p>
              </div>
              
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
