<navbar class="nav">
     <nav>
    <div class="nav-wrapper">
        
      <a href="#" class="brand-logo center">WEATHER APP</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left:10px;">
        <li><i class="material-icons">cloud</i><a href="/">Home</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/refrence">Refrence</a></li>
        
      </ul>
    </div>
  </nav>
</navbar>