<!DOCTYPE html>
<html>
    {{> header}}
    
    {{>navbar}}

    <body>
         <div class="container" style="margin-top:2cm">
            <h2 class=" center-align">404 Bad Request</h2>
            <h5 class="container grey-text center-align">{{error}}</h5>
            <div class="container grey-text center-align"> 
                   <i class="large material-icons red-text" style="margin-top:10px">cloud_off</i>
                   
                   <p>{{massage}}</p>
            </div>
        
        <a class="waves-effect waves-light btn" href="/">Back</a>

        </div>

    </body>
    {{> footer}}

</html>