<!DOCTYPE html>
<html>
    {{>header}}
    {{>navbar}}
    <body>
            <h1>
                    this is the result page
                    {{ weather }}
            </h1>

            <a href="/">Back</a>
    </body>
     {{> footer}}

</html>